<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1>使い方</h1>
			<div style="margin-top: 50px;">
				<h4>1.Recommentに登録しよう</h4>
				<p>感想を投稿するためにアカウントの登録(無料)をしましょう。</p>
				<p>ヘッダーから新規登録ページを開きます。名前とメールアドレス、パスワードの入力が完了したら「新規登録」ボタンを押します。</p>
			</div>
			<div style="margin-top: 50px;">
				<h4>2.感想を投稿しよう</h4>
				<p>あなたの好きな作品について感想を投稿してみましょう。</p>
				<p>ヘッダーから感想投稿ページを開きます。カテゴリーを選び、作品名、感想の内容を書きます。</p>
				<p>ネタバレや公開の設定が終わったら「投稿」ボタンを押します。</p>
			</div>
			<div style="margin-top: 50px;">
				<h4>3.感想を見つけよう</h4>
				<p>他の人の投稿した感想を読んでみましょう。</p>
				<p>作品の名前を入力し、検索ボタンを押します。</p>
				<p>興味のある感想を見つけたら「いいね」をしてみましょう。「いいね」した感想はヘッダーから自分のページで見ることができます。</p>
			</div>
		</div>
	</div>
</div>